{% extends "superlist/layout.html.twig" %}

{% block header %}
    <header class="header header-minimal">
        <div class="header-wrapper">
            <div class="container-fluid">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="{{ asset('build/images/logo.png') }}" alt="Logo">
                        </a>
                    </div><!-- /.header-logo -->

                    <div class="header-content">
                        <div class="header-bottom">

                            {# Menu par défaut #}


                            {{ include('superlist/template-part/menu.html.twig') }}




                            {{ include("superlist/template-part/profile/header-nav-user.html.twig") }}



                        </div><!-- /.header-bottom -->
                    </div><!-- /.header-content -->
                </div><!-- /.header-inner -->
            </div><!-- /.container -->
        </div><!-- /.header-wrapper -->

        <div class="header-statusbar">
            <div class="header-statusbar-inner">
                <div class="header-statusbar-left">
                    <h1>Tableau de bord</h1>

                    <div class="display-inline-block">
                        <div class="hidden-xs visible-lg">
                            <div class="header-statusbar-search">
                                <input type="text" class="form-control" placeholder="Recherche...">
                            </div><!-- /.header-search -->
                        </div>
                    </div>
                </div><!-- /.header-statusbar-left -->

                <div class="header-statusbar-right">
                    <div class="hidden-xs visible-lg">
                        Navigation:
                        <ul class="breadcrumb">
                            <li><a href="{{ path("homepage") }}">Bien-Être</a></li>
                            <li><a href="{{ path('profile_home') }}">Tableau de bord</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                </div><!-- /.header-statusbar-right -->
            </div><!-- /.header-statusbar-inner -->
        </div><!-- /.header-statusbar -->
    </header><!-- /.header -->
{% endblock %}

{% block main %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">

                <div class="sidebar-admin">
                    <ul>
                        <li><a href="{{ path("profile_home") }}"><i class="fa fa-file"></i></a></li>
                        <li class="active"><a href="{{ path("profile_edit_home") }}"><i class="fa fa-pencil"></i></a></li>
                        <li><a href="{{ path("profile_update") }}"><i class="fa fa-cog"></i></a></li>
                    </ul>
                </div><!-- /.sidebar-admin-->

                <div class="sidebar-secondary-admin">
                    <ul>
                        <li class="active">
                            <a href="{{ path("profile_edit_home") }}">
                                <span class="icon"><i class="fa fa-tachometer"></i></span>
                                <span class="title">Tableau de bord</span>
                                <span class="subtitle">Gérer votre publications</span>
                            </a>
                        </li>

                        <li >
                            <a href="{{ path("service_add") }}">
                                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                                <span class="title">Services <span class="notification">3</span> </span>
                                <span class="subtitle">Ajouter des services</span>
                            </a>
                        </li>

                        <li >
                            <a href="{{ path("promotion_add") }}">
                                <span class="icon"><i class="fa fa-table"></i></span>
                                <span class="title">Promotions</span>
                                <span class="subtitle">Ajouter une promotion</span>
                            </a>
                        </li>

                        <li >
                            <a href="{{ path("service_category_add") }}">
                                <span class="icon"><i class="fa fa-th"></i></span>
                                <span class="title">Catégories  <span class="notification">2</span></span>
                                <span class="subtitle">Ajouter une catégorie</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.sidebar-secondary-admin -->

                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
    <div class="page-title">
        <h1>Vos publications</h1>

    </div><!-- /.page-title -->
    {% if app.session.flashbag.get("warning") is defined %}
        {% for message in app.session.flashbag.get("warning") %}

            {{ include(
                "superlist/template-part/notifications/closeable-messages/warning.html.twig",
                {
                    "flash_warning": message ,
                    "button_info": "Ajouter"
                }
            ) }}

        {% endfor %}

    {% endif %}

    <div class="background-white p20 mb50">
        <h2 class="page-title">Services</h2>

        <table class="table table-hover mb0">
            <caption>

                {% if app.flashes("no_services") is defined %}
                        {% for message in app.flashes("no_services") %}

                        {#
                            Pour ajouter un bouton, il faut indiquer :
                            "button_{type}" => { "route" : "path", "message":""}
                        #}
                        {{ include(
                            "superlist/template-part/notifications/closeable-messages/info.html.twig"
                            ,{
                                "flash_info": message,
                                "button_info": {"route":"service_add", "message":"Ajouter"}
                            }
                        )}}
                        {% endfor %}

                {% endif %}
            </caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Prix</th>
                <th>Informations additionnelles</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Date de publication</th>
                <th>Date d'expiration</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            {% for service in services %}
                    <tr>
                        <th scope="row">{{ service.id }}</th>
                        <td>{{ service.name }}</td>
                        <td>{{ service.description }}</td>
                        <td>{{ service.pricing }}</td>
                        <td>{{ service.additionalInformation }}</td>
                        <td>{{ service.startDate|date("d/m/Y") }}</td>
                        <td>{{ service.endDate|date("d/m/Y") }}</td>
                        <td>{{ service.releaseDate|date("d/m/Y") }}</td>
                        <td>{{ service.expiryDate|date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path("service_update",{"id": service.id }) }}" class="label label-md label-info">
                                Modifier
                            </a>
                            <a href="{{ path("service_delete", {"id": service.id } ) }}" class="label label-md label-danger">
                                Supprimer
                            </a>
                        </td>
                    </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

    <div class="background-white p20 mb50">
        <h2 class="page-title">Promotions</h2>

        <table class="table table-hover mb0">
            <caption>
                {% if app.flashes("no_promotions") is defined %}
                    {% for message in app.flashes("no_promotions") %}
                    {#
                        Pour ajouter un bouton, il faut indiquer :
                        "button_{type}" => { "route" : "path", "message":""}
                    #}
                    {{ include(
                        "superlist/template-part/notifications/closeable-messages/info.html.twig"
                        ,{
                            "flash_info": message,
                            "button_info": {"route":"service_add", "message":"Ajouter"}
                        }
                    )}}
                    {% endfor %}

                {% endif %}
            </caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Pdf</th>
                <th>Date de début</th>
                <th>Date de fin</th>
                <th>Date de publication</th>
                <th>Date d'expiration</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            {% for promotion in promotions %}
                    <tr>
                        <th scope="row">{{ promotion.id }}</th>
                        <td>{{ promotion.name }}</td>
                        <td>{{ promotion.description }}</td>
                        <td>{{ promotion.pdf }}</td>
                        <td>{{ promotion.startDate|date("d/m/Y") }}</td>
                        <td>{{ promotion.endDate|date("d/m/Y") }}</td>
                        <td>{{ promotion.releaseDate|date("d/m/Y") }}</td>
                        <td>{{ promotion.expiryDate|date("d/m/Y") }}</td>
                        <td>
                            <a href="{{ path("promotion_update",{"id": promotion.id }) }}" class="label label-md label-info">
                                Modifier
                            </a>
                            <a href="{{ path("promotion_delete", {"id": promotion.id } ) }}" class="label label-md label-danger">
                                Supprimer
                            </a>
                        </td>
                    </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>

    <div class="background-white p20 mb50">
        <h2 class="page-title">Catégories de service</h2>

        <table class="table table-hover mb0">
            <caption>
                {% if app.flashes("no_categories") is defined %}
                    {% for message in app.flashes("no_categories") %}

                    {#
                        Pour ajouter un bouton, il faut indiquer :
                        "button_{type}" => { "route" : "path", "message":""}
                    #}
                    {{ include(
                        "superlist/template-part/notifications/closeable-messages/info.html.twig"
                        ,{
                            "flash_info": message,
                            "button_info": {"route":"service_category_add", "message":"Ajouter"}
                        }
                    )}}
                    {% endfor %}

                {% endif %}
            </caption>
            <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Description</th>
                <th>Mis en avant</th>
                <th>Validé</th>
                <th>slug</th>
                <th>Action</th>
            </tr>
            </thead>

            <tbody>

            {% for category in serviceCategories %}
                    <tr>
                        <th scope="row">{{ category.id }}</th>
                        <td>{{ category.name }}</td>
                        <td>{{ category.image.url }}</td>
                        <td>{{ category.description }}</td>
                        <td>{{ category.inFrontPage }}</td>
                        <td>{{ category.isValid }}</td>
                        <td>{{ category.slug }}</td>
                        <td>
                            <a href="{{ path("service_category_update",{"id": category.id }) }}" class="label label-lg label-info">
                                Modifier
                            </a>
                            <a href="{{ path("service_category_delete", {"id": category.id } ) }}" class="label label-lg label-danger">
                                Supprimer
                            </a>
                        </td>
                    </tr>
            {% endfor %}


            </tbody>
        </table>
    </div>
</div>

                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->

                        <div class="content-admin-footer">
                            <div class="container-fluid">
                                <div class="content-admin-footer-inner">
                                    &copy; 2018 All rights reserved. Created by <a href="#">Iracanyes</a>.
                                </div><!-- /.content-admin-footer-inner -->
                            </div><!-- /.container-fluid -->
                        </div><!-- /.content-admin-footer  -->
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->

{% endblock %}


