{{
    form_start(
        form,
        {
            "method":"POST",
            "action":path('provider_add'),
            "attr":{"class":"form-horizontal"}
        }
    )
}}

{# Erreurs du formulaire #}
{{ form_errors(form) }}

{# Générer label+error+input pour un champ #}
{# {{ form_row(form.brandName) }} #}
<div class="form-group">
    <label for="{{ form.brandName.vars.id }}"
           class="{{ form.brandName.vars.required ? 'required' : '' }}">
        {{ form.brandName.vars.label }}
    </label>


    {{ form_errors(form.brandName) }}

    {{ form_widget(form.brandName, {"attr":{"class":"form-control"}}) }}
</div>

{# Website #}
<div class="form-group">
    <label for="{{ form.website.vars.id }}"
           class="{{ form.website.vars.required ? 'required' : '' }}">
        {{ form.website.vars.label }}
    </label>

    {{ form_errors(form.website) }}

    {{ form_widget(form.website, {"attr":{"class":"form-control"}}) }}
</div>

{# Contact E-mail #}
<div class="form-group">
    <label for="{{ form.emailContact.vars.id }}"
           class="{{ form.emailContact.vars.required ? 'required' : '' }}">
        {{ form.emailContact.vars.label }}
    </label>

    {{ form_errors(form.emailContact) }}

    {{ form_widget(form.emailContact, {"attr":{"class":"form-control"}}) }}
</div>

{# Contact E-mail #}
<div class="form-group">
    <label for="{{ form.phoneNumber.vars.id }}"
           class="{{ form.phoneNumber.vars.required ? 'required' : '' }}">
        {{ form.phoneNumber.vars.label }}
    </label>

    {{ form_errors(form.phoneNumber) }}

    {{ form_widget(form.phoneNumber, {"attr":{"class":"form-control"}}) }}
</div>

{# TVA Number #}
<div class="form-group">
    <label for="{{ form.tvaNumber.vars.id }}"
           class="{{ form.tvaNumber.vars.required ? 'required' : '' }}">
        {{ form.tvaNumber.vars.label }}
    </label>

    {{ form_errors(form.tvaNumber) }}

    {{ form_widget(form.tvaNumber, {"attr":{"class":"form-control"}}) }}
</div>

{# Street #}
<div class="form-group">
    <label for="{{ form.street.vars.id }}"
           class="{{ form.street.vars.required ? 'required' : '' }}">
        {{ form.street.vars.label }}
    </label>

    {{ form_errors(form.street) }}

    {{ form_widget(form.street, {"attr":{"class":"form-control"}}) }}
</div>

{# Bouton submit #}
{{ form_widget(form.submit, {"attr":{"class":"btn btn-primary"}}) }}



{# Reste du formulaire #}
{{ form_rest(form) }}

{# End Form #}
{{ form_end(form) }}
