{#
    Template: Recherche par localité|commune|code postal avec Map
#}
{% extends 'base.html.twig' %}


{% block main %}

    <div class="main">
        <div class="fullscreen-wrapper">

    {% block search-list %}

    <div class="fullscreen-scroll">
        <div class="fullscreen-scroll-inner">
            <div class="fullscreen-scroll-padding">
                <form class="filter" method="post" action="{{ path('provider_search') }}">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <input type="text" placeholder="Nom du prestataire" class="form-control">
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <select class="form-control" title="Choisir la localité">

                    {% for locality in localities %}
                    <option>{{ locality.locality }}</option>
                    {% endfor %}

                </select>
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <select class="form-control" title="Choisir la ville">
                    {% for township in townships %}
                    <option value="">{{ township.township }}</option>
                    {% endfor %}
                </select>
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->

        <div class="col-sm-12 col-md-4">
            <div class="form-group">
                <select class="form-control" title="Choisir le code postal">
                    {% for postalCode in postalCodes %}
                        <option value="">{{ postalCode.postalCode }}</option>
                    {% endfor %}
                </select>
            </div><!-- /.form-group -->
        </div><!-- /.col-* -->
    </div><!-- /.row -->

    <hr>

    <div class="row">
        <div class="col-sm-8">
            <div class="filter-actions">
                <a href="#"><i class="fa fa-close"></i> Ré-initialiser</a>
                <a href="#"><i class="fa fa-save"></i> Enregistrez la recherche</a>
            </div><!-- /.filter-actions -->
        </div><!-- /.col-* -->

        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Modifier le résultat</button>
        </div><!-- /.col-* -->
    </div><!-- /.row -->
</form>


                <h2 class="page-title">
                    {{ providers|length }} résultats correspondants

                    <form method="get" action="?" class="filter-sort">
                        <div class="form-group">
                            <select title="Sort by">
                                <option name="price">Prix</option>
                                <option name="rating">Meilleurs votes</option>
                                <option name="title">Titre</option>
                            </select>
                        </div><!-- /.form-group -->

                        <div class="form-group">
                            <select title="Order">
                                <option name="ASC">Asc</option>
                                <option name="DESC">Desc</option>
                            </select>
                        </div><!-- /.form-group -->
                    </form>
                </h2><!-- /.page-title -->
                                
                <div class="cards-row">

        {% for provider in providers %}
        <div class="card-row">
            <div class="card-row-inner">
                <div class="card-row-image" data-background-image="{{ provider.logo.url }}">
                    <div class="card-row-label"><a href="listing-detail.html">{{ provider.serviceCategories[0].name }}</a></div><!-- /.card-row-label -->
                    
                        <div class="card-row-price">{{ provider.totalFans }}</div><!-- -->
                    
                </div><!-- /.card-row-image -->

                <div class="card-row-body">
                    <h2 class="card-row-title"><a href="listing-detail.html">{{ provider.brandName }}</a></h2>
                    <div class="card-row-content">
                        <p>

                        </p>
                        <dd>Catégories :</dd>
                        {% for category in provider.serviceCategories %}
                            <dt>{{ category.name }}</dt>
                        {% endfor %}
                    </div><!-- /.card-row-content -->
                </div><!-- /.card-row-body -->

                <div class="card-row-properties">
                    <dl>
                        
                            <dd>E-mail</dd><dt>{{ provider.emailContact }}</dt>
                        <dd>Adresse</dd><dt>{{ provider.getAddress()|raw('html') }}</dt>

                        


                        
                            <dd>Location</dd><dt>New York / Village</dt>
                        

                        <dd>Rating</dd>
                        <dt>
                            <div class="card-row-rating">
                                <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            </div><!-- /.card-row-rating -->
                        </dt>
                    </dl>
                </div><!-- /.card-row-properties -->
            </div><!-- /.card-row-inner -->
        </div><!-- /.card-row -->
        {% endfor %}

    
</div><!-- /.cards-row -->

            </div><!-- /.fullscreen-scroll-padding -->
        </div><!-- /.fullscreen-scroll-inner -->
    </div><!-- /.fullscreen-scroll -->

    {% endblock %}

    {% block search-map %}
    <div id="fullscreen-map"
            data-transparent-marker-image="assets/img/transparent-marker-image.png"
            data-styles='[{"featureType":"administrative","elementType":"labels.text.fill","stylers":[{"color":"#444444"}]},{"featureType":"landscape","elementType":"all","stylers":[{"color":"#f2f2f2"}]},{"featureType":"poi","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"poi.government","elementType":"labels.text.fill","stylers":[{"color":"#b43b3b"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"hue":"#ff0000"}]},{"featureType":"road","elementType":"all","stylers":[{"saturation":-100},{"lightness":45}]},{"featureType":"road","elementType":"geometry.fill","stylers":[{"lightness":"8"},{"color":"#bcbec0"}]},{"featureType":"road","elementType":"labels.text.fill","stylers":[{"color":"#5b5b5b"}]},{"featureType":"road.highway","elementType":"all","stylers":[{"visibility":"simplified"}]},{"featureType":"road.arterial","elementType":"labels.icon","stylers":[{"visibility":"off"}]},{"featureType":"transit","elementType":"all","stylers":[{"visibility":"off"}]},{"featureType":"water","elementType":"all","stylers":[{"color":"#7cb3c9"},{"visibility":"on"}]},{"featureType":"water","elementType":"geometry.fill","stylers":[{"color":"#abb9c0"}]},{"featureType":"water","elementType":"labels.text","stylers":[{"color":"#fff1f1"},{"visibility":"off"}]}]'
            class="fullscreen-map">
    </div><!-- /.fullscreen-map -->
    {% endblock %}

</div><!-- /.fullscreen-wrapper -->

    </div><!-- /.main -->

{% endblock %}

