{% extends 'superlist/public/blog-boxed.html.twig' %}

{# page title #}
    {% block pageTitle %}Liste des stages{% endblock %}
{# endpage title #}

{# /.posts #}

    {% block contentsElement %}
        {% for service in services %}
            <div class="post post-boxed">
                <div class="post-image">
                    <img src="{{ service.provider.logos.first().url }}" alt="{{ service.name }}">
                    <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                </div><!-- /.post-image -->

                <div class="post-content">
                    <h2><a href="blog-detail.html">{{ service.name }}</a></h2>
                    <p>
                        {{ service.description }}
                    </p>
                    <div id="pricingInfo">
                        <h4>Tarifs</h4>
                        <p>
                            {{ service.pricing }}
                        </p>
                    </div>
                </div><!-- /.post-content -->

                <div class="post-meta clearfix">
                    <div class="post-meta-author">By <a href="blog-detail.html">{{ service.provider.emailContact }}</a></div><!-- /.post-meta-author -->
                    <div class="post-meta-date">Commence le : {{ service.startDate|date("d/m/Y h:i:s") }}</div><!-- /.post-meta-date -->
                    <div class="post-meta-date">Termine le : {{ service.endDate|date("d/m/Y h:i:s") }}</div><!-- /.post-meta-date -->
                    <div class="post-meta-categories">
                        {% for serviceCategory in service.provider.serviceCategories %}
                            <i class="fa fa-tags"></i> <a href="blog-detail.html">{{ serviceCategory.name }}</a>
                        {% endfor %}
                    </div><!-- /.post-meta-categories -->
                    <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">{{ service.provider.opinions|length }} comments</a></div><!-- /.post-meta-comments -->
                    <div class="post-meta-more"><a href="blog-detail.html">Plus d'infos <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
                </div><!-- /.post-meta -->
            </div><!-- /.post -->
        {% endfor %}
    {% endblock %}

    
{# /.posts #}

{# pager #}
    {% block pager %}
        <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">5</a></li>
            <li class="active"><a>6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    {% endblock %}
{# endPager #}

{# Widget 1 : Recent services #}
{% block blog_boxed_widget1 %}
    <div class="widget">
        <h2 class="widgettitle">Services récents</h2>




        {% for service in recentServices %}

            <div class="cards-small">
                <div class="card-small">
                    <div class="card-small-image">
                        <a href="listing-detail.html">
                            <img src="{{ service.provider.logos.first().url }}" alt="{{ service.provider.brandName }}">
                        </a>
                    </div><!-- /.card-small-image -->

                    <div class="card-small-content">
                        <h3><a href="listing-detail.html">{{ service.name }}</a></h3>
                        <h4><a href="listing-detail.html">{{ service.provider.brandName ~ " / " ~ service.provider.locality.locality }}</a></h4>

                        <div class="card-small-price">{{ service.provider.website }}</div>
                    </div><!-- /.card-small-content -->
                </div><!-- /.card-small -->
            </div><!-- /.cards-small -->

        {% endfor %}



    </div><!-- /.widget -->
{% endblock %}

{# End Widget 1 #}

