{{
    form_start(
        form,
        {
            "method":"POST",
            "action":path('signin_confirmation', {"token": token}),
            "attr":{"class":"form-horizontal"}
        }
    )
}}

{# Erreurs du formulaire #}
{{ form_errors(form) }}
<div class="row">
    {# Avatar #}
    <h4>Avatar</h4>
    {#
    <div class="form-group">
        <label for="{{ form.avatar.place.vars.id }}"
               class="{{ form.avatar.place.vars.required ? 'required' : '' }}">
            {{ form.avatar.place.vars.label }}
        </label>

        {{ form_errors(form.avatar.place) }}

        {{ form_widget(form.avatar.place, {"attr":{"class":"form-control"}}) }}
    </div>

    <div class="form-group">
        <label for="{{ form.avatar.url.vars.id }}"
               class="{{ form.avatar.url.vars.required ? 'required' : '' }}">
            {{ form.avatar.url.vars.label }}
        </label>

        {{ form_errors(form.avatar.url) }}

        {{ form_widget(form.avatar.url, {"attr":{"class":"form-control"}}) }}
    </div>
    #}
</div>

<div class="row">
    <h4>Données personnelles</h4>

    {# Générer label+error+input pour un champ #}
    {# {{ form_row(form.brandName) }} #}
    <div class="form-group">
        <label for="{{ form.firstname.vars.id }}"
               class="{{ form.firstname.vars.required ? 'required' : '' }}">
            {{ form.firstname.vars.label }}
        </label>


        {{ form_errors(form.firstname) }}

        {{ form_widget(form.firstname, {"attr":{"class":"form-control"}}) }}
    </div>

    {# Lastname #}
    <div class="form-group">
        <label for="{{ form.lastname.vars.id }}"
               class="{{ form.lastname.vars.required ? 'required' : '' }}">
            {{ form.lastname.vars.label }}
        </label>

        {{ form_errors(form.lastname) }}

        {{ form_widget(form.lastname, {"attr":{"class":"form-control"}}) }}
    </div>

    {# Newsletter #}
    <div class="checkbox">


        {{ form_errors(form.newsletter) }}

        {{ form_widget(form.newsletter) }}

        <label for="{{ form.newsletter.vars.id }}"
               class="{{ form.newsletter.vars.required ? 'required' : '' }}">
            {{ form.newsletter.vars.label }}
        </label>
    </div>
</div>


<div class="row">
    <h4>Adresse</h4>

    {# Locality #}
    <div class="form-group">
        {{ form_label(form.locality.locality) }}

        {{ form_errors(form.locality.locality) }}

        {{ form_widget(form.locality.locality, {"attr":{"class":"form-control"}}) }}
    </div>

    {# Township #}
    <div class="form-group">
        {{ form_label(form.township.township) }}

        {{ form_errors(form.township.township) }}

        {{ form_widget(form.township.township, {"attr":{"class":"form-control"}}) }}
    </div>

    {# PostalCode #}
    <div class="form-group">
        {{ form_label(form.postalCode.postalCode) }}

        {{ form_errors(form.postalCode.postalCode) }}

        {{ form_widget(form.postalCode.postalCode, {"attr":{"class":"form-control   "}}) }}
    </div>
</div>

{# Bouton submit #}
{{ form_widget(form.submit, {"attr":{"class":"btn btn-primary"}}) }}



{# Reste du formulaire #}
{{ form_rest(form) }}

{# End Form #}
{{ form_end(form) }}
