{% extends "superlist/layout.html.twig" %}

{% block header %}
    <header class="header header-minimal">
        <div class="header-wrapper">
            <div class="container-fluid">
                <div class="header-inner">
                    <div class="header-logo">
                        <a href="index.html">
                            <img src="{{ asset('build/images/logo.png') }}" alt="Logo">
                        </a>
                    </div><!-- /.header-logo -->

                    <div class="header-content">
                        <div class="header-bottom">

                            {# Menu par défaut #}


                            {{ include('superlist/template-part/menu.html.twig') }}




                            {{ include("superlist/template-part/profile/header-nav-user.html.twig") }}



                        </div><!-- /.header-bottom -->
                    </div><!-- /.header-content -->
                </div><!-- /.header-inner -->
            </div><!-- /.container -->
        </div><!-- /.header-wrapper -->

        <div class="header-statusbar">
            <div class="header-statusbar-inner">
                <div class="header-statusbar-left">
                    <h1>Tableau de bord</h1>

                    <div class="display-inline-block">
                        <div class="hidden-xs visible-lg">
                            <div class="header-statusbar-search">
                                <input type="text" class="form-control" placeholder="Recherche...">
                            </div><!-- /.header-search -->
                        </div>
                    </div>
                </div><!-- /.header-statusbar-left -->

                <div class="header-statusbar-right">
                    <div class="hidden-xs visible-lg">
                        Navigation:
                        <ul class="breadcrumb">
                            <li><a href="{{ path("homepage") }}">Bien-Être</a></li>
                            <li><a href="{{ path('profile_home') }}">Tableau de bord</a></li>
                            <li><a href="#">Services</a></li>
                        </ul>
                    </div>
                </div><!-- /.header-statusbar-right -->
            </div><!-- /.header-statusbar-inner -->
        </div><!-- /.header-statusbar -->
    </header><!-- /.header -->
{% endblock %}

{% block main %}
    <div class="main">
        <div class="outer-admin">
            <div class="wrapper-admin">

                <div class="sidebar-admin">
                    <ul>
                        <li><a href="{{ path("profile_home") }}"><i class="fa fa-file"></i></a></li>
                        <li class="active"><a href="{{ path("profile_edit_home") }}"><i class="fa fa-pencil"></i></a></li>
                        <li><a href="{{ path("profile_update",{"id":user.id}) }}"><i class="fa fa-cog"></i></a></li>
                    </ul>
                </div><!-- /.sidebar-admin-->

                {#
                <div class="sidebar-secondary-admin">
                    <ul>
                        <li class="active">
                            <a href="{{ path("profile_edit_home") }}">
                                <span class="icon"><i class="fa fa-tachometer"></i></span>
                                <span class="title">Tableau de bord</span>
                                <span class="subtitle">Gérer votre publications</span>
                            </a>
                        </li>

                        <li >
                            <a href="{{ path("service_add") }}">
                                <span class="icon"><i class="fa fa-i-cursor"></i></span>
                                <span class="title">Services <span class="notification">3</span> </span>
                                <span class="subtitle">Ajouter des services</span>
                            </a>
                        </li>

                        <li >
                            <a href="{{ path("promotion_add") }}">
                                <span class="icon"><i class="fa fa-table"></i></span>
                                <span class="title">Promotions</span>
                                <span class="subtitle">Ajouter une promotion</span>
                            </a>
                        </li>

                        <li >
                            <a href="{{ path("service_category_add") }}">
                                <span class="icon"><i class="fa fa-th"></i></span>
                                <span class="title">Catégories  <span class="notification">2</span></span>
                                <span class="subtitle">Ajouter une catégorie</span>
                            </a>
                        </li>
                    </ul>
                </div><!-- /.sidebar-secondary-admin -->
                #}

                <div class="content-admin">
                    <div class="content-admin-wrapper">
                        <div class="content-admin-main">
                            <div class="content-admin-main-inner">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <div class="page-title">
                                                <h1>Profil</h1>
                                            </div><!-- /.page-title -->

                                            {% block profile %}

                                                <div class="row">
                                                    <div class="col-sm-4 col-lg-3">
                                                        <div class="sidebar">
                                                            <div class="widget">
                                                                <div class="user-photo">
                                                                    <a href="#">
                                                                        <img src="assets/img/tmp/agent-2.jpg" alt="User Photo">
                                                                        <span class="user-photo-action">Charger une image</span>
                                                                    </a>
                                                                </div><!-- /.user-photo -->
                                                            </div><!-- /.widget -->


                                                            <div class="widget">

                                                                <ul class="menu-advanced">
                                                                    <li><a href="{{ path("profile_update") }}"><i class="fa fa-pencil"></i> Confirmer les modifications</a></li>
                                                                    <li class="active"><a href="{{ path("profile_update",{"id":user.id}) }}"><i class="fa fa-user"></i> Mise à jour du profile</a></li>
                                                                    <li><a href="{{ path("change_pwd") }}"><i class="fa fa-key"></i> Changer mot de passe</a></li>
                                                                    <li><a href="{{ path("logout") }}"><i class="fa fa-sign-out"></i> Déconnexion</a></li>
                                                                </ul>
                                                            </div><!-- /.widget -->

                                                        </div><!-- /.sidebar -->
                                                    </div><!-- /.col-* -->

                                                    <div class="col-sm-8 col-lg-9">
                                                        <div class="content">
                                                            <div class="page-title">
                                                                <h1>Mise à jour</h1>
                                                            </div><!-- /.page-title -->

                                                            <div class="background-white p20 mb30">
                                                                <h3 class="page-title">
                                                                    Information de contact

                                                                    <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                                                </h3>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.emailContact.vars.id }}"
                                                                               class="">
                                                                            {{ form.emailContact.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.emailContact) }}

                                                                         {{ form_widget(form.emailContact, {"attr":{"class":"form-control"}}) }}

                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.brandName.vars.id }}"
                                                                               class="">
                                                                            {{ form.brandName.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.brandName) }}

                                                                        {{ form_widget(form.brandName, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.website.vars.id }}"
                                                                               class="">
                                                                            {{ form.website.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.website) }}

                                                                        {{ form_widget(form.website, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.phoneNumber.vars.id }}"
                                                                               class="">
                                                                            {{ form.phoneNumber.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.phoneNumber) }}

                                                                        {{ form_widget(form.phoneNumber, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.tvaNumber.vars.id }}"
                                                                               class="">
                                                                            {{ form.tvaNumber.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.tvaNumber) }}

                                                                        {{ form_widget(form.tvaNumber, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.row -->
                                                            </div>

                                                            <div class="background-white p20 mb30">
                                                                <h3 class="page-title">
                                                                    Social Connections

                                                                    <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                                                </h3>

                                                                <div class="form-horizontal">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Facebook</label>

                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" value="http://facebook.com/">
                                                                        </div><!-- /.col-* -->
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Twitter</label>

                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" value="http://twitter.com/">
                                                                        </div><!-- /.col-* -->
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Linkedin</label>

                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" value="http://linkedin.com/">
                                                                        </div><!-- /.col-* -->
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Dribbble</label>

                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" value="http://dribbble.com/">
                                                                        </div><!-- /.col-* -->
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group">
                                                                        <label class="col-sm-2 control-label">Instagram</label>

                                                                        <div class="col-sm-9">
                                                                            <input type="text" class="form-control" value="http://instagram.com/">
                                                                        </div><!-- /.col-* -->
                                                                    </div><!-- /.form-group -->
                                                                </div><!-- /.form-inline -->
                                                            </div><!-- /.background-white -->

                                                            <div class="background-white p20 mb30">
                                                                <h3 class="page-title">
                                                                    Adresse

                                                                    <a href="#" class="btn btn-primary btn-xs pull-right">Save</a>
                                                                </h3>

                                                                <div class="row">
                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.street.vars.id }}"
                                                                               class="">
                                                                            {{ form.street.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.street) }}

                                                                        {{ form_widget(form.street, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.locality.vars.id }}"
                                                                               class="">
                                                                            {{ form.locality.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.locality) }}

                                                                        {{ form_widget(form.locality, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-6">
                                                                        <label for="{{ form.township.vars.id }}"
                                                                               class="">
                                                                            {{ form.township.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.township) }}

                                                                        {{ form_widget(form.township, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    <div class="form-group col-sm-3">
                                                                        <label for="{{ form.postalCode.vars.id }}"
                                                                               class="">
                                                                            {{ form.postalCode.vars.label }}
                                                                        </label>
                                                                        {{ form_errors(form.postalCode) }}

                                                                        {{ form_widget(form.postalCode, {"attr":{"class":"form-control"}}) }}
                                                                    </div><!-- /.form-group -->

                                                                    {#
                                                                    <div class="form-group col-sm-3">
                                                                        <label>ZIP</label>
                                                                        <input type="text" class="form-control" value="12345">
                                                                    </div><!-- /.form-group -->
                                                                    #}
                                                                </div><!-- /.row -->
                                                            </div>


                                                            <div class="background-white p20 mb30">
                                                                <h4 class="page-title">
                                                                    Logos de l'entreprise
                                                                    <a href="#" class="btn btn-primary btn-xs pull-right">Confirmer</a>
                                                                </h4>


                                                                {{ form_errors(form.logos) }}

                                                                <div id="provider_logos" class="collection-widget logos"
                                                                     data-widget-tags = "{{ "<div class='collection-widget-item'></div>"|e }}"
                                                                     data-prototype="{{ include("forms/include/logo.html.twig")|e }}"
                                                                >


                                                                </div>


                                                                <a href="#provider_logos"
                                                                   data-list="#provider_logos"
                                                                   class="add-another-collection-widget btn btn-secondary"
                                                                >
                                                                    Ajouter un logo
                                                                </a>
                                                            </div>


                                                            <div class="background-white p20 mb30">
                                                                <h4 class="page-title">
                                                                    Images de l'entreprise
                                                                    <a href="#" class="btn btn-primary btn-xs pull-right">Confirmer</a>
                                                                </h4>


                                                                {{ form_errors(form.images) }}

                                                                <div id="provider_images" class="collection-widget images"
                                                                     data-widget-tags = "{{ "<div class='collection-widget-item'></div>"|e }}"
                                                                     data-prototype="{{ include("forms/include/provider-image.html.twig")|e }}"
                                                                >


                                                                </div>


                                                                <a href="#provider_images"
                                                                   data-list="#provider_images"
                                                                   class="add-another-collection-widget btn btn-secondary"
                                                                >
                                                                    Ajouter un image
                                                                </a>
                                                            </div>
                                                        </div><!-- /.content -->
                                                    </div><!-- /.col-* -->
                                                </div><!-- /.row -->

                                            {% endblock %}
                                        </div><!-- /.col-* -->

                                    </div>
                                </div><!-- /.container-fluid -->
                            </div><!-- /.content-admin-main-inner -->
                        </div><!-- /.content-admin-main -->

                        <div class="content-admin-footer">
                            <div class="container-fluid">
                                <div class="content-admin-footer-inner">
                                    &copy; 2018 All rights reserved. Created by <a href="#">Iracanyes</a>.
                                </div><!-- /.content-admin-footer-inner -->
                            </div><!-- /.container-fluid -->
                        </div><!-- /.content-admin-footer  -->
                    </div><!-- /.content-admin-wrapper -->
                </div><!-- /.content-admin -->
            </div><!-- /.wrapper-admin -->
        </div><!-- /.outer-admin -->
    </div><!-- /.main -->

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="build/js/add-collection-widget.js"></script>
{% endblock %}