{#
    Template: Recherche par localité|commune|code postal avec Map
#}
{% extends 'superlist/layout.html.twig' %}


{% block main %}

    <div class="main">
        <div class="main-inner">
            <div class="container">
                <div class="row">
                    


                    <div class="col-sm-8 col-lg-9">
                        <div class="content">
                            <div class="page-title">
    <h1>{% block pageTitle %}{% endblock %}</h1>
</div><!-- /.page-title -->

<div class="posts">
    {% block contentsElement %}

    {% endblock %}


    
</div><!-- /.posts -->


<div class="pager">

    {% block pager %}
        <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">5</a></li>
            <li class="active"><a>6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    {% endblock %}

</div><!-- /.pagination -->


                        </div><!-- /.content -->
                    </div><!-- /.col-* -->

                    <div class="col-sm-4 col-lg-3">
                        <div class="sidebar">

                            {% block blog_boxed_widget1 %}
                            <div class="widget">
    <h2 class="widgettitle">Prestataires récents</h2>

    

    
        {% for provider in recentProviders %}

        <div class="cards-small">
            <div class="card-small">
                <div class="card-small-image">
                    <a href="listing-detail.html">
                        <img src="{{ provider.logos.first().url }}" alt="{{ provider.brandName }}">
                    </a>
                </div><!-- /.card-small-image -->

                <div class="card-small-content">
                    <h3><a href="listing-detail.html">{{ provider.brandName }}</a></h3>
                    <h4><a href="listing-detail.html">{{ provider.township.township ~ " / " ~ provider.locality.locality }}</a></h4>

                    <div class="card-small-price">{{ provider.website }}</div>
                </div><!-- /.card-small-content -->
            </div><!-- /.card-small -->
        </div><!-- /.cards-small -->
    
        {% endfor %}


    
</div><!-- /.widget -->
                            {% endblock %}

                            {% block blog_boxed_widget2 %}
                            <div class="widget">
    <h2 class="widgettitle">Filtre</h2>

    <div class="background-white p20">
        <form method="post" action="?">
            <div class="form-group">
                <label for="">Mot-clé</label>
                <input type="text" class="form-control" name="" id="">
            </div><!-- /.form-group -->

            <div class="form-group">
                <label for="">Catégorie</label>

                <select class="form-control" title="Select Category">
                    {% for category in serviceCategories %}
                    <option>{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <label for="">Ville</label>
                <select class="form-control" title="Select Location">

                    {% for locality in localities %}
                    <option>{{ locality.locality }}</option>
                    {% endfor %}

                </select>
            </div><!-- /.form-group -->

            <div class="form-group">
                <label for="">Service</label>
                <input type="text" class="form-control" name="" id="">
            </div><!-- /.form-group -->

            <button class="btn btn-primary btn-block" type="submit">Recherche</button>
        </form>
    </div>
</div><!-- /.widget -->
                            {% endblock %}

                            {% block blog_boxed_widget3 %}
                            <div class="widget">
    <h2 class="widgettitle">Meilleurs prestataires</h2>

    <div class="p20 background-white">
        <div class="working-hours">
            {# Boucle des meilleurs prestataires #}
            {% for provider in bestProviders %}
    		<div class="day clearfix">
                <a href="{{ path('provider_detail', {'slug': provider.slug }) }}"><span class="name">{{ provider.brandName }}</span></a><br><span class="hours">Fans : {{ provider.totalFans }}</span>
    		</div><!-- /.day -->
            {% endfor %}

    	</div>
    </div>
</div><!-- /.widget -->
                            {% endblock %}

                            {% block blog_boxed_widget4 %}
                            <div class="widget">
    <h2 class="widgettitle">Catégories</h2>

    <ul class="menu">

        {% for category in serviceCategories %}
        <li><a href="#">{{ category.name }}</a></li>
        {% endfor %}

    </ul><!-- /.menu -->
</div><!-- /.wifget -->
                            {% endblock %}

                            {% block blog_boxed_widget5 %}
                            <div class="widget">
    <h2 class="widgettitle">Promotions récentes</h2>

    <ul class="menu">

        {# Boucle des promotions récentes #}
        {% for promotion in recentPromotions %}
        <li><a href="#">{{ promotion.provider.brandName }} <strong class="pull-right">12    </strong></a></li>
        {% endfor %}
    </ul><!-- /.menu -->
</div><!-- /.wifget -->
                            {% endblock %}


                        </div><!-- /.sidebar -->
                    </div><!-- /.col-* -->
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div><!-- /.main-inner -->
    </div><!-- /.main -->

{% endblock %}


