{#
    Template :
#}

{% extends 'superlist/layout.html.twig' %}

{% block header %}
    <header class="header header-transparent">
    <div class="header-wrapper">
        <div class="container">
            <div class="header-inner">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="build/images/logo-white.png" alt="Logo">
                        <span>{{ site_name }}</span>
                    </a>
                </div><!-- /.header-logo -->

                <div class="header-content">
                    <div class="header-bottom">
                        <div class="header-action">
                            <a href="listing-submit.html" class="header-action-inner" title="Add Listing" data-toggle="tooltip" data-placement="bottom">
                                <i class="fa fa-plus"></i>
                            </a><!-- /.header-action-inner -->
                        </div><!-- /.header-action -->

                        <ul class="header-nav-primary nav nav-pills collapse navbar-collapse">
                            <li class="active">
                                <a href="{{ path('homepage') }}">Accueil</a>

                            </li>

                            <li >
                                <a href="{{ path('provider_list') }}">Prestataires <i class="fa fa-chevron-down"></i></a>

                                <ul class="sub-menu">
                                    <li><a href="{{ path('provider_list') }}">Liste des prestataires</a></li>
                                    <li><a href="{{ path('provider_search') }}">Recherche</a></li>

                                </ul>
                            </li>



                            <li >
                                <a href="{{ path('service_list') }}">Services <i class="fa fa-chevron-down"></i></a>

                                <ul class="sub-menu">
                                    <li><a href="{{ path('service_list') }}">Services disponibles</a></li>
                                    <li><a href="{{ path('service_search') }}">Recherche</a></li>
                                    <li><a href="{{ path('service_category_list') }}">Catégorie de service</a></li>
                                </ul>
                            </li>


                            <li >
                                <a href="{{ path('contact') }}">Contact</a>

                            </li>
                            <li class="has-mega-menu ">
                                <a href="#">Administrateur <i class="fa fa-chevron-down"></i></a>

                                <ul class="mega-menu">
                                    <li>
                                        <a href="#">General</a>

                                        <ul>
                                            <li><a href="faq.html">FAQ</a></li>
                                            <li><a href="invoice.html">Invoice</a></li>
                                            <li><a href="pricing.html">Pricing</a></li>
                                            <li><a href="grid.html">Grid System</a></li>
                                            <li><a href="testimonials.html">Testimonials</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">User Account</a>

                                        <ul>
                                            <li><a href="user-profile-edit.html">Profile Edit</a></li>
                                            <li><a href="login.html">Login Form</a></li>
                                            <li><a href="register.html">Register Form</a></li>
                                            <li><a href="change-password.html">Change Password Form</a></li>
                                        </ul>
                                    </li>

                                    <li>
                                        <a href="#">Miscellaneous</a>

                                        <ul>
                                            <li><a href="sticky-footer.html">Sticky Footer</a></li>
                                            <li><a href="terms-conditions.html">Terms &amp; Conditions</a></li>
                                            <li><a href="error-403.html">403 - Forbidden</a></li>
                                            <li><a href="error-404.html">404 - Not Found</a></li>
                                            <li><a href="error-500.html">500 - Internal Error</a></li>
                                        </ul>
                                    </li>

                                    <li class="hidden-xs">
                                        <div class="special">
                                            <a href="register.html">Sign Up Now</a>
                                        </div><!-- /.special-->
                                    </li>
                                </ul>
                            </li>
                        </ul>


                        <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target=".header-nav-primary">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>

                    </div><!-- /.header-bottom -->
                </div><!-- /.header-content -->
            </div><!-- /.header-inner -->
        </div><!-- /.container -->
    </div><!-- /.header-wrapper -->
</header><!-- /.header -->
{% endblock %}

{% block main %}

        <div class="main">
            <div class="main-inner">
                <div class="content">
                    <div class="mt-150">
                        <div class="hero-image">
                            <div class="hero-image-inner" style="background-image: url({{ asset('build/images/slider-large-3.jpg') }});">
                                <div class="hero-image-content">
                                    <div class="container">
                                        <h1>Bien-Être : Annuaire de service</h1>

                                        <p>Trouver les meilleurs services Bien-Être de votre région</p>

                                        <a href="listing-row.html" class="btn btn-primary btn-lg">Voir l'annuaire complet</a>
                                        <a href="listing-submit.html" class="btn btn-secondary btn-lg">Rejoignez-nous</a>
                                    </div><!-- /.container -->
                                </div><!-- /.hero-image-content -->

                                <div class="hero-image-form-wrapper">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-sm-4 col-sm-offset-8 col-lg-4 col-lg-offset-7">
                                                <form method="get" action="?">
                                                    <h2>Retrouver les prestataires de votre région</h2>

                                                    <div class="hero-image-keyword form-group">
                                                        <input type="text" class="form-control" placeholder="Prestataire">
                                                    </div><!-- /.form-group -->

                                                    <div class="hero-image-location form-group">
                                                        <select class="form-control" title="Ville">
                                                            {# Boucle sur les localités #}
                                                            {% for locality in localities %}
                                                                <option>{{ locality.locality }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div><!-- /.form-group -->

                                                    <div class="hero-image-category form-group">
                                                        <select class="form-control" title="Commune">
                                                            {% for township in townships %}
                                                                <option value="{{ township.township }}">{{ township.township }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div><!-- /.form-group -->
                                                    <div class="hero-image-location form-group">
                                                        <select class="form-control" title="Commune">
                                                            {% for postalCode in postalCodes %}
                                                                <option value="{{ postalCode.postalCode }}">{{ postalCode.postalCode }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div><!-- /.form-group -->

                                                    <div class="hero-image-price form-group">
                                                        <input type="text" class="form-control" placeholder="Service">
                                                    </div><!-- /.form-group -->

                                                    <button type="submit" class="btn btn-primary btn-block">Lancer la recherche</button>
                                                </form>
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->
                                    </div><!-- /.container -->
                                </div><!-- /.hero-image-form-wrapper -->
                            </div><!-- /.hero-image-inner -->
                        </div><!-- /.hero-image -->

                    </div>

                    <div class="container">
                        <div class="block background-white fullwidth pt0 pb0">
                            <div class="partners">
                                <!--
                                Slider : ServiceCategory Image
                                -->
                                {% for serviceCategory in serviceCategories %}
                                    <a href="#">
                                        <img src="{{ serviceCategory.image.url }}" alt="{{ serviceCategory.name }}">
                                    </a>
                                {% endfor %}

                                </a>
                            </div><!-- /.partners -->

                        </div>

                        <div class="page-header">
                            <h1>Prestataires &amp; Services récents</h1>
                            <p>Liste des prestataires et services récemment ajoutés.</p>
                        </div><!-- /.page-header -->

                        <div class="cards-simple-wrapper">
                            <div class="row">
                                <!--
                                Prestataires et Services ajoutés récemment

                                -->
                                {% for service in services %}
                                    <div class="col-sm-6 col-md-3">
                                    <div class="card-simple" data-background-image="{{ service.provider.logo.url }}">
                                        <div class="card-simple-background">
                                            <div class="card-simple-content">
                                                <h2><a href="{{ path("provider_detail", {"slug": service.provider.slug }) }}">{{ service.provider.brandName }}</a></h2>
                                                <div class="card-simple-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.card-rating -->

                                                <div class="card-simple-actions">
                                                    <a href="#" class="fa fa-bookmark-o"></a>
                                                    <a href="listing-detail.html" class="fa fa-search"></a>
                                                    <a href="#" class="fa fa-heart-o"></a>
                                                </div><!-- /.card-simple-actions -->
                                            </div><!-- /.card-simple-content -->

                                            <div class="card-simple-label">{{ service.provider.serviceCategories[0].name }}</div>

                                        </div><!-- /.card-simple-background -->
                                    </div><!-- /.card-simple -->
                                </div><!-- /.col-* -->
                                {% endfor %}


                            </div><!-- /.row -->
                        </div><!-- /.cards-simple-wrapper -->


                        <div class="block background-white fullwidth mt80">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="posts">

                                     {% for i in 0..2 %}
                                        <div class="post">
                                            <div class="post-image">
                                                <img src="{{ services[i].provider.logo.url }}" alt="">
                                                <a class="read-more" href="{{ path('service_detail',{slug: "{{ services[i].slug }}" }) }}">View</a>
                                            </div><!-- /.post-image -->

                                            <div class="post-content">
                                                <div class="post-label">{{ services[i].provider.brandName }}</div><!-- /.post-label -->
                                                <div class="post-date">07/12/2015</div><!-- /.post-date -->
                                                <h2>{{ services[i].name }}</h2>
                                                <p>
                                                    {{ services[i].description|truncate(95,true) }}
                                                </p>
                                            </div><!-- /.post-content -->
                                        </div><!-- /.post -->
                                     {% endfor %}

                                    </div><!-- /.posts -->

                                </div><!-- /.col-* -->

                                <div class="col-sm-6">
                                    <div class="events">
                                        {# Boucle des promotions récentes #}
                                        {% for promotion in promotions %}
                                            <div class="event">
                                            <div class="event-date">
                                                <span class="day">{{ promotion.releaseDate|date("d") }}</span>
                                                <span class="month">{{ promotion.releaseDate|date("M") }}</span>
                                                <span class="month">{{ promotion.releaseDate|date("Y") }}</span>
                                            </div><!-- /.event-date -->

                                            <div class="event-content">
                                                <h2>{{ promotion.name }}</h2>
                                                <p>
                                                    {{ promotion.description }}
                                                </p>
                                                <div class="event-time"><i class="fa fa-clock-o"></i> {{ "Du " ~ promotion.startDate|date('d/m/Y') ~ " au " ~ promotion.endDate|date("d/m/Y") }}</div><!-- /.event-time -->
                                            </div><!-- /.event-content -->
                                        </div><!-- /.event -->

                                        {% endfor %}
                                    </div><!-- /.events -->

                                </div><!-- /.col-* -->
                            </div><!-- /.row -->
                        </div><!-- /.block -->

                        <div class="block background-black-light fullwidth">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-life-ring"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>Besoin d'aide</h2>
                                            <p>Nous sommes là pour toutes vos questions, contactez-nous</p>

                                            <a href="#">Lire la suite <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-flask"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>Meilleurs prestataires et services de votre région</h2>
                                            <p>Notre équipe toujours à la recherche des meilleurs prestataires et services de votre région</p>

                                            <a href="#">Lire la suite <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->

                                <div class="col-sm-4">
                                    <div class="box">
                                        <div class="box-icon">
                                            <i class="fa fa-thumbs-o-up"></i>
                                        </div><!-- /.box-icon -->

                                        <div class="box-content">
                                            <h2>Meileure qualité</h2>
                                            <p>Toutes les services sont vérifiés par nos soins.</p>

                                            <a href="#">Lire la suite <i class="fa fa-chevron-right"></i></a>
                                        </div><!-- /.box-content -->
                                    </div>
                                </div><!-- /.col-sm-4 -->
                            </div><!-- /.row -->

                        </div><!-- /.block -->

                        <div class="block background-white background-transparent-image fullwidth">
                            <div class="page-header">
                                <h1>Notre sélection Bien-Être</h1>
                                <p>Testez les meilleurs prestataires et services. Chaque moment vaut la peine <br> d'être vécu. Goûtez aux meilleurs plaisirs de votre région.</p>
                            </div><!-- /.page-header -->

                            <div class="cards-wrapper">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="card" data-background-image="{{ bestProviders[1].logo.url }}">
                                                    <div class="card-label">
                                                        <a href="{{ path('provider_detail', {slug: bestProviders[1].slug }) }}">{{ bestProviders[1].serviceCategories[0].name }}</a>
                                                    </div><!-- /.card-label -->

                                                    <div class="card-content">
                                                        <h2><a href="{{ path('provider_detail', {slug: bestProviders[1].slug }) }}" >{{ bestProviders[1].brandName }}</a></h2>

                                                        <div class="card-meta">
                                                            <i class="fa fa-map-o"></i> {{ bestProviders[1].street ~ ", " ~ bestProviders[1].locality.locality }}<br>{{ bestProviders[1].postalCode.postalCode ~ " " ~ bestProviders[1].township.township }}
                                                        </div><!-- /.card-meta -->

                                                        <div class="card-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div><!-- /.card-rating -->

                                                        <div class="card-actions">
                                                            <a href="#" class="fa fa-bookmark-o"></a>
                                                            <a href="{{ path('provider_detail', {slug: bestProviders[1].slug }) }}" class="fa fa-search"></a>
                                                            <a href="#" class="fa fa-heart-o"></a>
                                                        </div>

                                                    </div><!-- /.card-content -->
                                                </div><!-- /.card -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="card" data-background-image="{{ bestProviders[2].logo.url }}">
                                                    <div class="card-label">
                                                        <a href="listing-detail.html">{{ bestProviders[2].serviceCategories[0].name }}</a>
                                                    </div><!-- /.card-label -->

                                                    <div class="card-content">
                                                        <h2><a href="{{ path('provider_detail', {slug: bestProviders[2].slug }) }}">{{ bestProviders[2].brandName }}</a></h2>

                                                        <div class="card-meta">
                                                            <i class="fa fa-map-o"></i> {{ bestProviders[2].street ~ ", " ~ bestProviders[2].locality.locality }}<br>{{ bestProviders[2].postalCode.postalCode ~ " " ~ bestProviders[2].township.township }}
                                                        </div><!-- /.card-meta -->

                                                        <div class="card-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div><!-- /.card-rating -->

                                                        <div class="card-actions">
                                                            <a href="#" class="fa fa-bookmark-o"></a>
                                                            <a href="{{ path('provider_detail', {slug: bestProviders[2].slug }) }}" class="fa fa-search"></a>
                                                            <a href="#" class="fa fa-heart-o"></a>
                                                        </div>
                                                    </div><!-- /.card-content -->
                                                </div><!-- /.card -->
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="card" data-background-image="{{ bestProviders[3].logo.url }}">
                                                    <div class="card-label">
                                                        <a href="{{ path('provider_detail', {slug: bestProviders[3].slug }) }}">{{ bestProviders[3].serviceCategories[0].name }}</a>
                                                    </div><!-- /.card-label -->

                                                    <div class="card-content">
                                                        <h2><a href="listing-detail.html">{{ bestProviders[3].brandName }}</a></h2>

                                                        <div class="card-meta">
                                                            <i class="fa fa-map-o"></i>{{ bestProviders[3].street ~ ", " ~ bestProviders[3].locality.locality }}<br>{{ bestProviders[3].postalCode.postalCode ~ " " ~ bestProviders[3].township.township }}
                                                        </div><!-- /.card-meta -->

                                                        <div class="card-rating">
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                            <i class="fa fa-star"></i>
                                                        </div><!-- /.card-rating -->

                                                        <div class="card-actions">
                                                            <a href="#" class="fa fa-bookmark-o marked"></a>
                                                            <a href="{{ path('provider_detail', {slug: bestProviders[3].slug }) }}" class="fa fa-search"></a>
                                                            <a href="#" class="fa fa-heart-o"></a>
                                                        </div>
                                                    </div><!-- /.card-content -->
                                                </div><!-- /.card -->
                                            </div><!-- /.col-* -->
                                        </div><!-- /.row -->
                                    </div><!-- /.col-* -->

                                    <div class="col-sm-4">
                                        <div class="card card-tall" data-background-image="{{ bestProviders[0].logo.url }}">
                                            <div class="card-label">
                                                <a href="{{ path('provider_detail', {slug: bestProviders[0].slug }) }}">{{ bestProviders[0].serviceCategories[0].name }}</a>
                                            </div><!-- /.card-label -->

                                            <div class="card-content">
                                                <h2><a href="listing-detail.html">{{ bestProviders[0].brandName }}</a></h2>

                                                <div class="card-meta">
                                                    <i class="fa fa-map-o"></i> {{ bestProviders[2].street ~ ", " ~ bestProviders[2].locality.locality }}<br>{{ bestProviders[2].postalCode.postalCode ~ " " ~ bestProviders[2].township.township }}
                                                </div><!-- /.card-meta -->

                                                <div class="card-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.card-rating -->

                                                <div class="card-actions">
                                                    <a href="#" class="fa fa-bookmark-o"></a>
                                                    <a href="{{ path('provider_detail', {slug: bestProviders[0].slug }) }}" class="fa fa-search"></a>
                                                    <a href="#" class="fa fa-heart-o marked"></a>
                                                </div>
                                            </div><!-- /.card-content -->
                                        </div><!-- /.card -->
                                    </div><!-- /.col-* -->
                                </div><!-- /.row -->
                            </div><!-- /.cards-wrapper -->

                        </div>

                        <div class="block background-white fullwidth">
                            <div class="page-header">
                                <h1>Témoignages de nos visiteurs</h1>
                                <p>Lisez ce que nos autres visiteurs ont pensé des prestataires de votre région <a href="#">... Les meilleurs commentaires ...</a>.</p>
                            </div><!-- /.page-header -->

                            <div class="row">
                                {# 3 Commentaires résumés #}
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <div class="testimonial-image">
                                            <img src="{{ recentComments[2].client.avatar.url }}" alt="">
                                        </div><!-- /.testimonial-image -->

                                        <div class="testimonial-inner">
                                            <div class="testimonial-title">
                                                <h2>{{ recentComments[2].title }}</h2>

                                                <div class="testimonial-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa    fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.testimonial-rating -->
                                            </div><!-- /.testimonial-title -->
                                            <p>
                                                {{ recentComments[2].positiveComment|truncate(50, true) }}
                                            </p>
                                            <p>
                                                {{ recentComments[2].negativeComment|truncate(50, true) }}
                                            </p>

                                            <div class="testimonial-sign">- {{ recentComments[2].client.firstname ~ " " ~ recentComments[2].client.lastname }}</div><!-- /.testimonial-sign -->
                                        </div><!-- /.testimonial-inner -->
                                    </div><!-- /.testimonial -->

                                    <div class="testimonial">
                                        <div class="testimonial-image">
                                            <img src="{{ recentComments[3].client.avatar.url }}" alt="">
                                        </div><!-- /.testimonial-image -->

                                        <div class="testimonial-inner">
                                            <div class="testimonial-title">
                                                <h2>{{ recentComments[3].title }}</h2>

                                                <div class="testimonial-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.testimonial-rating -->
                                            </div><!-- /.testimonial-title -->

                                            <p>
                                                {{ recentComments[3].positiveComment|truncate(50, true) }}
                                            </p>
                                            <p>
                                                {{ recentComments[3].negativeComment|truncate(50, true) }}
                                            </p>

                                            <div class="testimonial-sign">- {{ recentComments[2].client.firstname ~ " " ~ recentComments[2].client.lastname }}</div><!-- /.testimonial-sign -->
                                        </div><!-- /.testimonial-inner -->
                                    </div><!-- /.testimonial -->

                                    <div class="testimonial last">
                                        <div class="testimonial-image">
                                            <img src="{{ recentComments[4].client.avatar.url }}" alt="">
                                        </div><!-- /.testimonial-image -->

                                        <div class="testimonial-inner">
                                            <div class="testimonial-title">
                                                <h2>{{ recentComments[4].title }}</h2>

                                                <div class="testimonial-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.testimonial-rating -->
                                            </div><!-- /.testimonial-title -->

                                            <p>
                                                {{ recentComments[4].positiveComment }}
                                            </p>
                                            <p>
                                                {{ recentComments[4].negativeComment }}
                                            </p>

                                            <div class="testimonial-sign">- {{ recentComments[2].client.firstname ~ " " ~ recentComments[2].client.lastname }}</div><!-- /.testimonial-sign -->
                                        </div><!-- /.testimonial-inner -->
                                    </div><!-- /.testimonial -->
                                </div><!-- /.col-* -->
                                {# 2 Commentaires complet #}
                                <div class="col-sm-6">
                                    <div class="testimonial">
                                        <div class="testimonial-image">
                                            <img src="{{ recentComments[0].client.avatar.url }}" alt="">
                                        </div><!-- /.testimonial-image -->

                                        <div class="testimonial-inner">
                                            <div class="testimonial-title">
                                                <h2>{{ recentComments[0].title }}</h2>

                                                <div class="testimonial-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.testimonial-rating -->
                                            </div><!-- /.testimonial-title -->

                                            <p>
                                                {{ recentComments[0].positiveComment }}
                                            </p>
                                            <p>
                                                {{ recentComments[0].negativeComment }}
                                            </p>

                                            <div class="testimonial-sign">- {{ recentComments[0].client.firstname ~ " " ~ recentComments[0].client.lastname }}</div><!-- /.testimonial-sign -->
                                        </div><!-- /.testimonial-inner -->
                                    </div><!-- /.testimonial -->

                                    <div class="testimonial last">
                                        <div class="testimonial-image">
                                            <img src="{{ recentComments[1].client.avatar.url }}" alt="">
                                        </div><!-- /.testimonial-image -->

                                        <div class="testimonial-inner">
                                            <div class="testimonial-title">
                                                <h2>{{ recentComments[1].title }}</h2>

                                                <div class="testimonial-rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div><!-- /.testimonial-rating -->
                                            </div><!-- /.testimonial-title -->

                                            <p>
                                                {{ recentComments[1].positiveComment }}
                                            </p>
                                            <p>
                                                {{ recentComments[1].negativeComment }}
                                            </p>

                                            <div class="testimonial-sign">- {{ recentComments[0].client.firstname ~ " " ~ recentComments[0].client.lastname }}</div><!-- /.testimonial-sign -->
                                        </div><!-- /.testimonial-inner -->
                                    </div><!-- /.testimonial -->
                                </div><!-- /.col-* -->
                            </div>

                        </div>

                        <div class="page-header">
                            <h1>Nos dernières offres promotionnelles</h1>
                            <p>Notre équipe a séléctionné les meilleurs offres promotionnelles disponibles <br>Pour profiter de ces offres avant qu'elles n'expirent, contactez notre <a href="#">Service clientèle</a>.</p>
                        </div><!-- /.page-header -->

                        <div class="pricings">
                            <div class="row">
                                {# Boucle des promotions proches de l'expiration #}
                                {% for expiringPromotion in expiringPromotions %}
                                <div class="col-sm-4">
                                    <div class="pricing">
                                        <div class="pricing-title">{{ expiringPromotion.provider.brandName }}</div><!-- /.pricing-title -->
                                        <div class="pricing-subtitle">{{ expiringPromotion.name }}</div><!-- /.pricing-subtitle -->
                                        <div class="pricing-price"><span class="pricing-currency">$</span>{{ expiringPromotion.description }} <span class="pricing-period"></span></div><!-- /.pricing-price -->
                                        <a href="#" class="btn-primary">Profitez de l'offre</a>
                                        <hr>
                                        <ul class="pricing-list">
                                            <li><span>Website: </span><strong>{{ expiringPromotion.provider.website }}</strong></li>
                                            <li><span>E-mail :</span><strong>{{ expiringPromotion.provider.emailContact }}</strong></li>
                                            <li>
                                                <span>Fin promotion :</span><a><strong>{{ expiringPromotion.expiryDate|date("d/m/Y H:m:i") }}</strong></a>
                                            </li>
                                        </ul><!-- /.pricing-list -->
                                        <hr>
                                        <a href="#" class="pricing-action">Plus d'informations</a>
                                    </div><!-- /.pricing -->
                                </div><!-- /.col-* -->
                                {% endfor %}
                            </div><!-- /.row -->
                        </div><!-- /.pricings -->

                        <div class="block background-white fullwidth mt80 mb-80">
                            <div class="categories">
                                {# Boucle sur les catégories de services et les prestataires au sein de ces catégories #}

                                <ul>
                                    {% for h in 0..1 %}
                                    <li>
                                        <a href="#" class="categories-action">Voir la page</a>
                                        <a href="#" class="categories-link"><i class="fa fa-bed"></i>{{ serviceCategoriesPlusProviders[h].name }}</a>
                                        <ul>
                                            {% for i in 0..4 %}
                                            <li><a href="{{ path('provider_detail', {slug: serviceCategoriesPlusProviders[h].providers[i].slug}) }}">{{ serviceCategoriesPlusProviders[h].providers[i].brandName }}</a>,</li>
                                            {% endfor %}
                                            <li class="all"><a href="#">Voir toutes les prestataires de la catégorie <i class="fa fa-chevron-right"></i></a></li>

                                        </ul>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div><!-- /.categories -->

                        </div>

                        <div class="block background-secondary fullwidth mt80 mb-80 pt60 pb60">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="contact-info-wrapper">
                                        <h2>Une question? Contactez-nous...</h2>

                                        <div class="contact-info">
                <span class="contact-info-item">
                    <i class="fa fa-at"></i>
                    <span>support@bien-etre.com</span>
                </span><!-- /.contact-info-item -->

                                            <span class="contact-info-item">
                    <i class="fa fa-phone"></i>
                    <span>+123-456-789</span>
                </span><!-- /.contact-info-item -->
                                        </div><!-- /.contact-info-->
                                    </div><!-- /.contact-info-wrapper -->
                                </div><!-- /.col-* -->
                            </div><!-- /.row -->

                        </div>
                    </div><!-- /.container -->

                </div><!-- /.content -->
            </div><!-- /.main-inner -->
        </div><!-- /.main -->

{% endblock %}

