<div class="contact-form-wrapper clearfix">
    <h3>Inscription</h3>

    {{
    form_start(
        form,
        {
            "method":"POST",
            "action":path('signin'),
            "attr":{
                "class":"form-horizontal",
                "novalidate":"novalidate"
            }
        }
    )
    }}
    <!--
    <form class="contact-form" action="{{ path('signin') }}" method="post" novalidate="novalidate">
    -->

        <div class="form-group">

            {{ form_label(form.email, "Adresse E-mail :") }}

            {{ form_errors(form.email) }}
            <br>
            {{ form_widget(form.email, {"attr": {"class":"form-control"}}) }}
        </div>

        <div>


            {{ form_label(form.plainPassword, "Entrez votre mot de passe et confirmer celui-ci dans la seconde case :") }}

            {{ form_errors(form.plainPassword) }}
            <div class="form-group">
                {{ form_label(form.plainPassword.first, "Entrez votre mot de passe :") }}
                <br>
                {{ form_widget(form.plainPassword.first, {"attr": {"class":"form-control"}}) }}
            </div>
            <div class="form-group">
                {{ form_label(form.plainPassword.second, "Confirmer votre mot de passe :") }}
                <br>
                {{ form_widget(form.plainPassword.second, {"attr": {"class":"form-control"}}) }}
            </div>

        </div>

        <div class="form-group">

            {{ form_label(form.userType, "Type d'utilisateur :") }}

            {{ form_errors(form.userType) }}
            <br>


            {{ form_widget(form.userType, {"attr": {"class":"btn-group btn dropdown-toggle btn-default"}}) }}



        </div>

        <div class="form-group">

            <p>
                Conditions et termes :
            </p>

            {{ form_errors(form.termsAccepted) }}

            <div class="checkbox">

                <!--
                <input type="checkbox" id="user_temp_termsAccepted" name="user_temp[termsAccepted]" value="1" >
                -->

                    {{ form_widget(form.termsAccepted) }}


                <label for="user_temp_termsAccepted">J'ai lu et j'accepte les Conditions Générales d'Utilisation.</label>
            </div>

        </div>
        {#
        Ajout d'un champ invisible contenant le token de protection CSRF
        #}
        <!--
        <input type="hidden" name="_csrf_token" value="{{ csrf_token("email") }}">
        -->
        {{ form_widget(form._csrf_token) }}
        {#
            Si l'on veut contrôler l'URL auquel l'utilisateur sera redirigé en cas d'authentification réussie
            <input type="hidden" name="_target_path" value="/account" />
         #}

        <!--
        <button id="submit" name="submit" class="btn btn-primary pull-left">Connexion</button>
        -->
        {{ form_widget(form.submit, {"attr": {"class":"btn btn-primary pull-left"}}) }}
    </form>


</div><!-- /.contact-form-wrapper -->