{#
    Template : Blog-detail-right-sidebar.html
#}
{% extends 'superlist/public/blog-boxed.html.twig' %}

{# page title #}
    {% block pageTitle %}Liste des prestataires{% endblock %}
{# endpage title #}

{# /.posts #}

    {% block contentsElement %}
        {% for provider in providers %}
            <div class="post post-boxed">
                <div class="post-image">
                    {# Modification après mise en place du service d'upload file "/uploads/images"
                    <img src="{{ "/uploads/images/" ~ provider.logos.first().url }}" alt="{{ provider.brandName }}">
                     #}
                    <img src="{{ provider.logos.first().url }}" alt="{{ provider.brandName }}">
                    <a class="read-more" href="{{ path('provider_detail',{'slug': provider.slug }) }}">Voir</a>
                </div><!-- /.post-image -->

                <div class="post-content">
                    <h2><a href="{{ path('provider_detail',{'slug': provider.slug }) }}">{{ provider.brandName }}</a></h2>
                    {{ include('superlist/template-part/rating.html.twig') }}
                    <p>And from now on you're all named Bender Jr. The alien mothership is in orbit here. If we can hit that bullseye, the rest of the dominoes will fall like a house of cards. Checkmate. Now that the, uh, garbage ball is in space, Doctor, perh...</p>
                </div><!-- /.post-content -->

                <div class="post-meta clearfix">
                    <div class="post-meta-author">By <a href="blog-detail.html">{{ provider.emailContact }}</a></div><!-- /.post-meta-author -->
                    <div class="post-meta-date">{{ provider.registryDate|date("d/m/Y h:i:s") }}</div><!-- /.post-meta-date -->
                    <div class="post-meta-categories">
                        {% for serviceCategory in provider.serviceCategories %}
                            <i class="fa fa-tags"></i> <a href="blog-detail.html">{{ serviceCategory.name }}</a>
                        {% endfor %}
                    </div><!-- /.post-meta-categories -->
                    <div class="post-meta-comments"><i class="fa fa-comments"></i> <a href="blog-detail.html">{{ provider.opinions|length }} comments</a></div><!-- /.post-meta-comments -->
                    <div class="post-meta-more"><a href="blog-detail.html">Plus d'infos <i class="fa fa-chevron-right"></i></a></div><!-- /.post-meta-more -->
                </div><!-- /.post-meta -->
            </div><!-- /.post -->
        {% endfor %}
    {% endblock %}

    
{# /.posts #}

{# pager #}
    {% block pager %}
        <ul>
            <li><a href="#">Prev</a></li>
            <li><a href="#">5</a></li>
            <li class="active"><a>6</a></li>
            <li><a href="#">7</a></li>
            <li><a href="#">Next</a></li>
        </ul>
    {% endblock %}
{# endPager #}


